@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  background: #FD634E;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  position: relative; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 14px; }

p {
  font-size: 14px; }

.text-green {
  color: #A2CA28; }

.text-orange {
  color: #FD634E; }

.text-white {
  color: white; }

.text-thin {
  font-weight: 300; }

.text-thick {
  font-weight: 700; }

.bg-white {
  background: white; }

.bg-green {
  background: #A2CA28; }

.bg-orange {
  background: #FD634E; }

.navbar {
  background: transparent;
  border: none;
  text-transform: uppercase;
  transition: all 1s ease-in-out; }
  .navbar li:hover a {
    background: #FD634E !important; }
  .navbar li.active a {
    background: #A2CA28 !important; }
  .navbar li a {
    color: white !important;
    transition: all .5s; }

.jumbotron {
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin-bottom: 0;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase; }
  .jumbotron .slogan {
    bottom: 200px;
    left: 20%;
    position: absolute;
    text-align: right;
    font-size: 150%; }
    @media (max-width: 551px) {
      .jumbotron .slogan {
        left: 5%; } }
    .jumbotron .slogan h4 {
      letter-spacing: .15em;
      position: relative;
      right: 10%; }
  .jumbotron .overlay-jumbotron {
    background: #FD634E;
    bottom: 0;
    height: 100px;
    opacity: .3;
    position: absolute;
    transform: skewY(-2deg);
    transform-origin: right;
    width: 100%; }

.features {
  background: #A2CA28;
  color: white;
  margin: 0;
  min-height: 350px;
  padding-bottom: 50px; }
  .features i {
    font-size: 60px;
    padding: 60px 0 30px; }

.services .text-panel {
  height: 50vh;
  max-height: 400px;
  min-height: 350px;
  padding: 80px 5%; }
.services .image {
  height: 50vh;
  max-height: 400px;
  min-height: 350px; }
.services img {
  padding: 20px; }
.services p {
  padding: 20px 0; }

.services-orange {
  background: #FD634E; }

.promo {
  height: 70vh;
  min-height: 500px;
  overflow: hidden;
  position: relative; }
  .promo h2 {
    margin: 0; }
  .promo p {
    padding: 20px 10%; }
  .promo .text {
    position: relative;
    top: 50%;
    margin: 0; }
  .promo .overlay-promo-3 {
    background: #FD634E;
    bottom: 0;
    height: 40px;
    position: absolute;
    transform: skewY(2deg);
    transform-origin: left;
    width: 100%; }
  .promo .overlay-promo-2 {
    background: #0D1119;
    bottom: 0;
    height: 80px;
    position: absolute;
    transform: skewY(2deg);
    transform-origin: left;
    width: 100%; }
  .promo .overlay-promo-1 {
    background: #0D1119;
    bottom: 0;
    height: 75px;
    position: absolute;
    transform: skewY(-3deg);
    transform-origin: right;
    width: 100%; }

.contact {
  background: #0D1119;
  padding-bottom: 50px; }
  .contact input {
    margin: 20px auto; }
  .contact button {
    background: #A2CA28; }

footer {
  background: #0D1119;
  height: 50px;
  margin: 0; }
  footer a {
    border-bottom: 1px dotted white;
    border-color: #A2CA28;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s; }
    footer a:hover {
      border-bottom: none;
      color: #A2CA28;
      text-decoration: none; }

.img-apple-watch {
  background: url("img/apple-watch.jpg") center/cover; }

.img-beach {
  background: url("img/beach.jpg") center/cover; }

.img-eating-habits {
  background: url("img/eating-habits.jpg") center/cover; }

.img-footer {
  background: url("img/footer.jpg") center/cover; }

.img-hero {
  background: url("img/hero.jpg") top/cover; }

.img-jogging {
  background: url("img/jogging.jpg") center/cover; }

.img-self-involved {
  background: url("img/self-involved.jpg") center/cover; }

.img-yoga {
  background: url("img/yoga.jpg") center/cover; }

@media (min-width: 991px) {
  .pull-right-md {
    float: right; } }

/*# sourceMappingURL=master.css.map */
