@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand:100,300');

* {box-sizing: border-box}

body {
  background-color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  color: white;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
}

h3 {
  font-family: Quicksand, sans-serif;
  font-size: 36px;
  font-weight: 100;
}
p {
  margin: 0;
}

/* HERO SECTION */

.hero {
  background: url("img/travel_canyon.jpeg") 0/cover;
  height: 700px;
  text-align: center;
}

.hero-content {
  margin: 0 auto;
  position: relative;
  top: 25%;
  width: 70%;
}

.hero-content h1 {
  font-size: 72px;
  margin: 0;
}

.hero-content p {
  font-size: 28px;
  margin: 5px;
}

/* LOGO SECTION*/

.logo {
  margin: 20px;
  text-align: center;
}

.logo h3 {
  color: grey;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px 0;
}
.logo img {
  left: -25px;
  position: relative;
  top: 15px;
  transform: scale(.6, .6);
}

/* MAIN SECTION */

.main {
  background: url("img/travel_shards.png");
  padding: 40px;
  text-align: center;
}

.main h3,
.main > p {
  margin: 0 auto;
  width:  60%;
}

.value-props {
  width: 60%;
  margin: 40px auto 100px;
}

.prop {
  border: 1px solid white;
  margin: 10px 0;
  padding: 80px;
}

.prop img {
  width: 60px;
}
