@import url("https://fonts.googleapis.com/css?family=Raleway:300,500");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  margin: 0;
}

a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* NAVIGATION BAR*/

nav {
  background-color: #333;
}

nav ul {
  margin: 0;
  /*text-align: center;*/
  padding-left: 200px;
}

nav ul li{
  display: inline-block;
  font-size: 16px;
  padding: 18px;
}

nav ul li:hover {
  background-color: #555;
  cursor: pointer;
}

/* JUMBOTRON */

.jumbotron {
  background: url("img/new_york.jpg") center;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.jumbotron h1 {
  color: #333;
  font-size: 72px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 100px;
  text-transform: uppercase;
}

.jumbotron a {
  background-color: #333;
  font-size: 18px;
  padding: 15px 45px;
}

.jumbotron a:hover {
  background-color: #555;
}

/* PROPERTIES*/

.properties {
  color: #333;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 80%;
}

.prop {
  display: inline-block;
  flex: 1;
  margin: 80px 10px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.prop p {
  margin: 0 auto 40px;
  width: 70%;
}

.prop i {
  font-size: 30px;
}

.prop a {
  border: 1px solid #333;
  color: #333;
  font-size: 12px;
  padding: 10px;
}

.prop a:hover {
  background-color: #333;
  color: white;
}

/* FOOTER */

footer {
  background-color: #333;
  color: white;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}