@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway');

body {
  background-color: #ECE4DA;
  margin: 0;
  padding: 0;
}

.hero {
  background: url('img/coffee.jpg') repeat center center;
  height: 400px;
  line-height: 220px;
  margin: 0 auto;
  padding: 0;
}

.hero h1 {
  color: #41292C;
  font-family: "Covered By Your Grace", serif;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.cafe-list {
  margin: 0 auto;
  max-width: 650px;
  width: 60%;
}

.cafe-type {
  border-bottom: 1px solid #E8BE97;
  color: #999;
  font-family: 'Raleway', serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 32px;
  margin: 100px 0;
  padding-bottom: 60px;
}

.cafe-type h1 {
  color: #E8BE97;
  text-transform: uppercase;
}

.cafe-type a {
  color: #214e34;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}